<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/meu-projeto/src/main/java/me/dio/meu_projeto/MeuProjetoApplication.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="PGDATABASE" value="railway"/>
        <mapEntry key="PGHOST" value="viaduct.proxy.rlwy.net"/>
        <mapEntry key="PGPASSWORD" value="AyNTJJsTtXfwnuZULmhKhWdwzOcyCAcy"/>
        <mapEntry key="PGPORT" value="33790"/>
        <mapEntry key="PGUSER" value="postgres"/>
        <mapEntry key="SPRING_PROFILES_ACTIVE" value="prd"/>
    </mapAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="me.dio.meu_projeto.MeuProjetoApplication"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="meu-projeto"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="meu-projeto"/>
</launchConfiguration>
